

/*	GESTION DES FENETRES MODALES
	________________________________________________________ */

table {

	border-radius: 10px;
	border: 3px medium solid #000000;
	width: 100%;
	box-shadow: 1px 1px 12px #000000;
}
